<div id="title">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>

<div id="dates-container">
  <div>
    <h2>From:</h2>
    <input type="date" id="from" />
    <h2>To:</h2>
    <input type="date" id="to" />
    <button id="search">Search Data</button>
  </div>

<canvas id="myChart" width="400" height="400"></canvas>